* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(161, 161, 161, 0.699);
}

h1 {
    position: absolute;
    top:35%;
    color:#fff;
    text-shadow: 1px 1px 3px black;
}

button {
    background-color: #303030;
    border:none;
    padding:10px 10px;
    width:120px;
    color:#fff;
    font-weight: 600;
    border-radius: 30px;
    margin-left: 10px;
    cursor: pointer;
    transition: .5s all;
}

button:hover {
    transform: scale(1.05);
}